* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navNameTitle {
  font-size: 1.2rem;
  padding-left: 10px;
}

#backgroundTryStyle {
  z-index: -1;
  height: 100%;
}

.backgroundTryStyle {
  background-image: url('./Assets/backgroundTry.svg');
  background-position-x: right;
}

.backgroundTryStyle, .backgroundTryStyle2 {
  opacity: 0.5;
  background-repeat: no-repeat;
}

.bodyStyleProperties {
  background-image: linear-gradient(to bottom, #2c73d2, #1678cf, #007dcc, #0081c7, #0085c2, #0087bc, #0089b5, #008aae, #008aa4, #008a97, #008989, #008f7a);
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.heroSection {
  margin: 8% 0 8% 0;
}

.heroImg {
  height: auto;
  width: 35%;
  background-size: cover;
  background-repeat: no-repeat;
}

.profile-photo, .profileImg {
  height: 50px;
  width: 50px;
  background-size: cover;
  background-image: url("./Assets/profile-photo.jpg");
  border-radius: 50%;
}

.toggle-properties {
  position: absolute;
  bottom: 0;
  right: 0;
}

.profileImg {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.aboutMeName {
  font-size: 1.5rem;
  width: fit-content;
  margin-right: 0;
}

.aboutMeDescription {
  font-size: 0.9rem;
}

.knowledgeIndicator {
  margin-left: 70px;
}

.progress-achivement {
  font-size: 0.8rem;
  height: 30px;
}

.progress-achivement-highlighted {
  background-color: #00ac93;
}

.edAndExperience {
  margin-bottom: 100px;
}

.lineTimeline {
  width: 2px;
  height: 650px;
  margin: 0.6rem;
  background-color: black;
  position: absolute;
}

.circleTimeline {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #845EC2;
  position: absolute;
  z-index: 1;
}

.card {
  color: black
}

.cardPrimaryTitle {
  font-size: 1.5rem;
}

.cardSecondaryTitle {
  font-size: 1.1rem;
}

.backgroundTryStyle2 {
  background-image: url(./Assets/backgroundTry2.svg);
}

#card-portfolio-style {
  border: 0;
  background-color: none;
}

.card-img-overlay {
  background-color: rgba(0, 0, 0, 0.7);;
}

.project-indicator {
  display: none;
}

.project-card:hover .project-indicator {
  display: block;
  color: white;
  transition-duration: 1s;
}

.project-card:hover .card-img-overlay{
  background-color: black;
  transition-duration: 1s;
}

.btn-primary {
  background-color: #008e7a;
  border-color: #008e7a;
}

.btn-primary:hover {
  background-color: #00a790;
  border-color: #00a790;
}

footer {
  background-image: linear-gradient(to bottom, #236bc2, #0061d7, #0054e9, #0042f6, #2222ff);
}

footer, .bigger-triangle {
  width: 100%;
  height: 200px;
}

.bigger-triangle {
  clip-path: polygon(100% 0, 100% 23%, 4% 100%, 0 100%, 0 0);
  background-color: #008987;
  opacity: 0.8;
}

.footer-arrow {
  width: 35px;
  height: auto;
}

.my-logo-cv {
  margin-left: 25%;
}




@media (max-width: 576px) {
  .navNameTitle {
  font-size: 1rem;
  padding-left: 10px;
  }

  .nav-link {
    padding: 14px;
  }

  .knowledgeIndicator {
    padding-top: 50px;
    margin-left: 0px;
  }

  .progressBar {
    padding-top: 15px;
  }

  .lineTimeline {
    height: 1200px;
  }

  .heroSection {
    margin: 70px 0 70px 0;
  }

  .heroImg {
    width: 55%;
  }

  .my-logo-cv {
    font-size: 0.8rem;
    margin-left: 16%;
  }
}

@media (min-width: 768px) {
  .knowledgeIndicator {
    margin-left: 50px;
    padding-top: 50px;
  }

  .progressBar {
    padding-top: 15px;
  }
}

@media (max-width: 1024px) {

}